# This is a basic workflow to help you get started with Actions

name: Build and Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - DesertRun
        unityVersion:
          - 2019.4.8f1
        #          - 2019.3.0f1 # requires different license file/method
        targetPlatform:
          - WebGL # WebGL.

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.1
        with:
          lfs: true
      - name: Cache
        uses: actions/cache@v2.0.0
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}
          restore-keys: |
            Library-${{ matrix.projectPath }}-
            Library-
      - name: Unity Builder
        uses: webbertakken/unity-builder@v1.1
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          #customParameters: -profile SomeProfile -someBoolean -someValue exampleValue
      - name: Archive Production Artifact
        uses: actions/upload-artifact@master
        with:
          name: Build
          path: build
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: Build
          path: build
      - name: Prepare correct file structure for Firebase
        run: ls -R; cd ..; mkdir public; ls -R; mv -v ./build/WebGL/WebGL/* ./public/; ls -R; rm -r ./build/
        working-directory: build
      #- name: Replace index.html
      #  run: sed -i "7i\    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>" ./public/index.html; cat ./public/index.html
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
